.register-page {
    text-align: center;
}

.register-page h2 {
    margin-bottom: 30px;
}

.register-page-main {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(143, 143, 143); */
    border: 1px solid rgb(11, 148, 52);
    margin: auto;
    width: 40%;
    padding: 40px 0;
    border-radius: 7px;
}

.register-page-main form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.register-page-main a {
    color: #c8d458;
}

.register-page-main input {
    height: 45px;
    padding: 0 20px;
    outline: none;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.register-page-main span {
    color:#c8d458;
}

.register-page-social-media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
}