@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0c090f;
  color: white;
}

.container{
  padding: 10px 80px;
}

li {
  list-style: none;
}

.mb-4 {
  margin-bottom: 40px;
}

.mt-4 {
  margin-top: 40px;
}

.text-light {
  color: rgb(153, 153, 153);
}