.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-search {
    background-color: #db3e0f;
    padding: 7px 25px;
}

.btn-search:hover {
    background-color: #e75123;
}

.btn-primary {
    background-color: #b60909;
    padding: 11px 25px;
}

.btn-primary:hover {
    background-color: #c40a0a;
}

.btn-secondary {
    background-color: rgb(11, 148, 52);
    padding: 11px 25px;
}

.btn-secondary:hover {
    background-color: rgb(16, 160, 59);
}

.btn-disabled {
    background-color: rgb(78, 78, 78);
    padding: 15px 25px; 
    cursor: default;
}
