.header-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container span {
    font-size: 20px;
    /* color: rgb(255, 255, 255); */
}

.cart-header-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    width: 35%;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}

.search-input {
    width: 850px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}