.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container li {
    font-size: 14px;
}

.header-left {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
}

.navbar li {
    padding: 0 5px;
}

.header-sosmed img {
    width: 20px;
    margin: 0 10px;
}

.header-right ul {
    display: flex;
    align-items: center;
}

.header-right li {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.header-right img {
    width: 20px;
    margin-right: 5px;
}