.header-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}

.search-input {
    width: 850px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}