.alert {
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
}

.info {
    background-color: rgb(19, 161, 126);
}

.danger {
    background-color: rgba(226, 194, 255, 0.815);
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
}